---
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tóki Flow</title>
  </head>
  <Layout>
    <body>
      <section class="banner">
        <h1 class="sand">TÓKI FLOW</h1>
        <h2 class="sand">
          Through <span>five</span> steps of the TÓKI Flow, insight becomes <span
            >ideas</span
          > - and ideas become <span>impact.</span>
        </h2>
      </section>
      <section class="flow">
        <div class="flowtextContainer">
          <p class="sectionheading">TOKI FLOW</p>
          <h2>The <span>five</span> steps</h2>
        </div>
        <div class="flowContainer">
          <div class="step-info">
            <h3 id="step-title"></h3>
            <div class="divider"></div>
            <p id="step-description"></p>
          </div>
          <svg
            class="toki-flow"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 957 871"
          >
            <!-- Generator: Adobe Illustrator 29.7.1, SVG Export Plug-In . SVG Version: 2.1.1 Build 8)  -->
            <defs>
              <style>
                .st0 {
                  fill: #231f20;
                }

                .st1 {
                  fill: #f0eade;
                }

                .st2,
                .st3,
                .st4 {
                  stroke: #2f2521;
                  stroke-width: 3px;
                }

                .st2,
                .st5 {
                  fill: #808369;
                }

                .st2,
                .st4 {
                  stroke-linecap: round;
                  stroke-linejoin: round;
                }

                .st3,
                .st4 {
                  fill: none;
                }

                .st6 {
                  fill: #2f2521;
                }

                .st7 {
                  fill: #dad0bd;
                }
              </style>
            </defs>
            <path
              id="Cirkel"
              class="st3"
              d="M486.4,91.8c199.7,0,361.5,158.8,361.5,354.7s-161.8,354.7-361.5,354.7S124.9,642.4,124.9,446.5,286.7,91.8,486.4,91.8Z"
            ></path>
            <g id="num1">
              <ellipse class="st1" cx="486.4" cy="104.8" rx="104.5" ry="104.8"
              ></ellipse>
              <path class="st7" d="M496.7,63.2v83.6h-19.5v-66.7h-7v-16.9h26.4Z"
              ></path>
            </g>
            <g id="num2">
              <ellipse class="st1" cx="822.6" cy="362.5" rx="104.5" ry="104.9"
              ></ellipse>
              <path
                class="st7"
                d="M821.3,387h32.3v17.4h-58.8v-15.8l14.4-13.2c3.1-2.8,5.7-5.4,8-7.9,2.3-2.5,4.1-4.8,5.6-7,1.5-2.2,2.6-4.4,3.3-6.4.7-2,1.1-4,1.1-6,0-3.6-1-6.3-2.9-8.1-1.9-1.8-4.5-2.7-7.9-2.7-5.7,0-11.7,2.4-17.9,7.3l-9.3-14.4c8.6-7.6,18.9-11.3,30.7-11.2,8.3,0,15.1,2.2,20.3,6.6s7.8,10.7,7.8,19.1-1.8,14-5.3,19.8c-3.6,5.9-8.7,11.7-15.2,17.4l-6,5.2Z"
              ></path>
            </g>
            <g id="num3">
              <ellipse class="st1" cx="695.4" cy="754.4" rx="104.5" ry="104.8"
              ></ellipse>
              <path
                class="st7"
                d="M711.8,753.3c2.2.8,4.2,1.9,5.9,3.2,1.8,1.3,3.3,2.8,4.5,4.6,1.3,1.7,2.3,3.7,2.9,5.9.7,2.1,1.1,4.5,1.1,7.1,0,8.1-2.8,14.1-8.3,18.1-5.5,4-13,6-22.5,6s-22.1-3.6-30.2-10.7l9-15.5c3.1,2.7,6.1,4.6,8.8,5.7,2.7,1.2,6.2,1.8,10.4,1.8s6.5-.8,8.7-2.3c2.2-1.6,3.3-4,3.3-7.3s-1.2-5.7-3.6-7.3c-2.5-1.5-5.6-2.3-9.3-2.3h-6.7v-13h6.1c3.7,0,6.6-.8,8.8-2.5,2.3-1.7,3.4-4.1,3.4-7.3s-1-5.1-2.9-6.4c-1.9-1.4-4.5-2.1-7.8-2.1-6.6,0-12.8,2.2-18.3,6.6l-8.6-14.1c8.2-7.3,18.7-10.9,31.7-10.9s14.2,1.9,19.2,5.6,7.5,9.3,7.5,16.8-1.2,9.2-3.5,12.6c-2.3,3.4-5.5,5.9-9.5,7.7Z"
              ></path>
            </g>
            <g id="num4">
              <ellipse class="st1" cx="269.5" cy="766.2" rx="104.5" ry="104.8"
              ></ellipse>
              <path
                class="st7"
                d="M304.4,776.9v16.8h-11v14.4h-19v-14.4h-37.4v-16.3l31.3-53.2h25.1v52.7h11ZM257,776.9h17.4v-32.3l-17.4,32.3Z"
              ></path>
            </g>
            <g id="num5">
              <ellipse class="st1" cx="139.9" cy="342" rx="104.5" ry="104.9"
              ></ellipse>
              <path
                class="st7"
                d="M140.3,332.1c7.1,0,12.9,2,17.1,6,4.3,4.1,6.4,10.3,6.4,18.7s-.8,9.6-2.5,13.2c-1.6,3.7-3.9,6.7-6.7,9-2.8,2.3-6.2,4.1-10,5.2-3.9,1.1-8,1.6-12.5,1.6-11.9,0-21.7-3.4-29.5-10.1l8.1-16.3c5.6,5.3,12,7.9,19.2,7.9s6.9-1,9.4-2.9c2.5-1.9,3.8-4.6,3.8-8.2s-.9-5.9-2.6-7.4c-1.7-1.6-3.9-2.3-6.7-2.3-4.5,0-8.1,1.8-10.7,5.3l-14-4.8v-46.6h49.3v17.6h-31v17.3c3.9-2.1,8.3-3.2,12.9-3.2Z"
              ></path>
            </g>

            <g class="" id="illustration">
              <path class="st2" d="M528.9,323.7l-1.3,8.3h18.2l-1.1-8.3h-15.9Z"
              ></path>
              <path
                class="st5"
                d="M545.8,332.1v21.4l-2.5-1.4-2.1,1.4-3.2-2.4-3.4,2.4-2.4-2.1-4.5,3v-22.4"
              ></path>
              <path
                class="st4"
                d="M545.8,332.1v21.4l-2.5-1.4-2.1,1.4-3.2-2.4-3.4,2.4-2.4-2.1-4.5,3v-22.4"
              ></path>
              <path class="st4" d="M536.7,324.2v7.9"></path>
              <path class="st2" d="M485.4,408.3l7.9.3v-3.5l-7.9,3.2Z"></path>
              <path
                class="st5"
                d="M581.5,415.9l40.1,3.1v34.3l1.5-.4,1.2,2.6,2.3-.9,2.6,2.1,2-2.5,1.5.3v-41.2l-51.2-3.2"
              ></path>
              <path
                class="st4"
                d="M581.5,415.9l40.1,3.1v34.3l1.5-.4,1.2,2.6,2.3-.9,2.6,2.1,2-2.5,1.5.3v-41.2l-51.2-3.2"
              ></path>
              <path class="st4" d="M581,412.5l46.4,3.4"></path>
              <path
                class="st2"
                d="M515.6,443.8l-45.5,18.8,16,2.3,44.9-19.6-15.3-1.5Z"></path>
              <path
                class="st2"
                d="M469,462.4l.5,29.5,3.6-3.7,2.7,3.1,2.4-.9,2.8,2.6,2-1.2,2.6,2.3-.3-29.4-16.2-2.5Z"
              ></path>
              <path class="st4" d="M478.2,463.7l43.5-19.3"></path>
              <path
                class="st4"
                d="M444.4,541.3l74.3,14v-85.7l-75.3-10.9,1,82.6Z"></path>
              <path class="st4" d="M518.6,555.3l42.7-23.4.5-82.3-43.3,20"
              ></path>
              <path class="st4" d="M561.9,449.6l-72.9-10.1-45.6,19.3"></path>
              <path class="st4" d="M561.9,522.3l44.2,5.2v-101l-142.3-11,.4,34.1"
              ></path>
              <path class="st4" d="M606.2,527.5l37.2-23.8.5-95.6-37.7,18.3"
              ></path>
              <path class="st4" d="M494.4,417.3h86.5l.5-85.2h-87v85.2Z"></path>
              <path class="st4" d="M494.4,332.1l4.2-8.7h78.7l4.1,8.7"></path>
              <path class="st4" d="M463.8,415.5l30.6-10.8"></path>
              <path class="st4" d="M581.5,404.2l62.4,4"></path>
              <path
                class="st7"
                d="M329.6,357.2l.2,40.5s2.4.4,3,.7c.6.3,2.1,1.6,2.1,1.6l.5,2-.9,3.6v2.3l-.4,6.4-1.6,3-2.4,1.6.2,27.5s.4,2.1,1,2.1,94,0,94,0l.4-20.5-1.2-4.3-.4-3.1-2.5-2.1,1.6-2.5-1.9-3,1.3-2.5,2.7-1.9v-6.1c.1,0,.4-43.3.4-43.3l-96.2-1.9h0Z"
              ></path>
              <path
                class="st7"
                d="M336.9,353.4l88.9,1.3,14.8-9.3-86.3-.8-17.3,8.9Z"></path>
              <path
                class="st7"
                d="M427.9,356.8l16-9.5v91.4l-15.4,9.3.2-19.9,14.2-8.9.4-21.1-7,4.4-7.3-.4-1.2-45.3Z"
              ></path>
              <path
                class="st6"
                d="M334.7,412.1c0-.1,0,0,.8-2,.5-1.2.6-1.3.6-1.7,0-.3,0-1.2-.4-2.1-.2-.3-.4-.6-.4-.9,0-.3.2-.4.3-.6.3-.4.3-.9.4-1.4.1-1.4-.6-2.6-.8-2.9-.6-1-1.3-1.5-1.9-1.9-.5-.4-.8-.5-4.2-1.4-1.3-.4-1.9-.6-2.8-.4-.5,0-1.3.3-1.6,1-.3.6,0,1.3,0,1.4.2.5.6,1,1.7,1.5,1.5.7,3.5,1,5.1,1.2.4,0,1.1.1,1.3.6.2.4,0,.8-.1,1.1-.3.4-.7.5-.9.5-1.8.4-4.4-2-6.8-1.3-.3,0-1.1.3-1.3,1.1-.2.7.2,1.3.3,1.5.5.7,1.2.9,2.1,1.1,2.1.4,4.3.4,5.9,1,.3,0,.7.3.8.7.1.4-.1.8-.4,1.1-.4.4-.8.4-1,.5-3.9.4-5.8.6-6.9-.3-.2-.2-.7-.5-1.1-.4-.4.2-.6.9-.6,1.4,0,.8.5,1.4.6,1.6.6.7,1.4.8,2.8,1,1.6.2,2.5.3,3.4,0,.7-.2,1.5-.5,1.9-.1,0,0,.3.3.3.6s-.3.6-.3.7c0,.1,2-.4,3-2.2h0Z"
              ></path>
              <path
                class="st6"
                d="M404.2,340.8c-3.6-2.1-7-4.5-9.3-5.5-2.3-1-3.5-1.4-5-1.7-2.3-.4-4.1-.2-6.2,0-1.9.2-4.5.7-7.5,1.7l-.6,5c-1.8.5-3.6.8-4,0-.5-.9,1.1-3,.6-3.8-.4-.7-2,.3-4.5.7-1.1.2-5.5.8-7.6-1.8-.3-.3-1.4-1.7-1.2-3.2.6-4.6,13.1-6.1,19.9-5.9,1.8,0,3.4.2,3.8.3,1.6.2,5.5.7,10.2,2.5,2.9,1.1,6.5,3.2,13.9,7.7,3.8,2.3,5.1,3.1,5,3.7-.2.9-4.1,1.2-7.6.5Z"
              ></path>
              <path
                class="st6"
                d="M407.2,337c.3-2.7,0-4.9-.2-6.4-.2-1.3-.4-2.7-1.2-4.3-.7-1.6-1.5-2.5-2.4-3.7-1.4-1.8-2.3-2.9-3.9-3.9-2.6-1.7-5.1-1.8-6.4-1.9-.7,0-2.2,0-4.1.5-2,.6-3.4,1.4-4.5,2.2-1.8,1.1-2.7,2.1-3.9,3.3-.7.7-1.5,1.7-1.7,3,0,.3,0,.5,0,.6h-5.8s0-.3,0-.6c0-3.2,2.6-5.6,4.4-7.3,1-.9,2.3-2,4.1-2.9,1.7-.9,2.8-1.5,4.4-1.7,1.2-.1,2-.3,4.9-.2.3,0,.6,0,.7,0,0-.2,0-.5,0-.8.2-1,1-1.4,1.3-1.6,1.3-.8,2.8,0,3.1.1.4.2,1.8.9,2.1,2.4,0,.4,0,.7,0,.9.9.3,2.2.7,3.5,1.4,1.1.6,2.8,1.7,4.5,3.6,1.9,2,3,4,3.3,4.8,1.2,2.5,1.7,4.7,2.1,7.1.2,1.2.4,2.2.5,3.7,0,2.1-.2,3.9-.5,5.1l-4.5-3.4Z"
              ></path>
              <path
                class="st6"
                d="M447.1,366.8c1.3,1.3,3,3,4.9,5,3.1,3.3,3.8,4.2,4.3,4.7.6.7,2.3,2.9,4.1,6,.9,1.4,1.9,3.2,2.9,5.6.9,2.1,1.6,3.7,2,6.1,0,.4.3,2.2.2,4.5,0,1.1-.2,3.1-.9,5.6-.8,2.5-1.8,4.1-2.6,5.2-1.5,2.3-3,3.6-4.1,4.6-1,1-2.1,1.7-4.2,3.2-2.9,2-4.4,2.8-5.9,3.3-.5.2-.5.1-1.1.3-4.2,1.5-5.8,3.5-6.4,3-.6-.5,1.1-2.7,1.7-7.2.3-2.1.2-3.6,0-4.7-.2-2-.3-3.2-1.1-4.4-.6-1-1.5-1.6-2.1-2-1.6-1.1-2.5-.9-2.9-1.8-.4-.9.1-2,.4-2.6,1.6-3.5,5.9-4.6,7.3-5l-.2-29.6h3.4Z"
              ></path>
              <path
                class="st6"
                d="M326.3,386.3c-1.3-.6-4.1,4.5-5.4,7.2-.3.6-1.1,2.4-1.9,5.1-.7,2.4-1.4,4.9-1.3,8.2,0,1.6.2,4.1,1.5,6.8.5,1,1.8,3.4,4.3,4.8,1.4.8,2.6.9,3.2.9,1.1.1,3.2.1,5.4-1.2,1.1-.7,2.6-1.5,3.1-3.3.3-1.3.1-2.9-.5-3.1-.5-.2-.9.7-2.7,2.3-1,.9-1.5,1.4-2,1.6-2,1.1-4.8.4-6.6-1.3-1.7-1.5-2.3-3.6-2.6-4.7-1.1-4.1,0-7.8.8-10.1.6-1.8,1.1-3.5,2.5-5.2,1-1.2,1.6-1.5,2.1-2.7.9-2.1.8-4.9,0-5.3h0Z"
              ></path>
              <path
                class="st6"
                d="M431.2,450.5l1.8,10.1,1.6,15.6.7,15.5-.7,17.7-1.3,13.4-3.6,20c-.8.5-1.6.9-2.4,1.3-11.3,5.4-23.2,1.6-30.6-1.8-.3-.5-.6-1.3-.9-2.3-.8-2.9-.2-5.4.1-6.9.6-3.2.5-6.5.7-9.8.4-5.5.5-9.5.6-14.2.1-5.8.1-8.7-.1-12.7,0-1.2-.4-5.2-1.3-10.3-1-5.9-2.3-10.3-2.5-11.3-.8-2.9-1.9-6.2-3.4-9.8v-6.9c.2.2.8.7,1.4,1.3,1.3,1.4,1.9,2.9,2.2,3.5,4.7,11.6,6.1,24.6,6.1,24.6.7,6.7,1.2,11.2,1.4,18.4.2,8,0,19.1-1.6,32.2l.8,1.3c1.6.5,3.2.9,5,1.2,8.3,1.6,15.7.8,21.6-.5l.6-2.6.7-4.9c0-.9,1.3-9.4,1.3-9.4.3-3.7,1.2-9.9,1.3-10.9.1-1,.9-10,.9-10l.4-12.7-.3-5.5-1.3-16.8-1.2-10.9-.9-4.5,2.8-1.6h0Z"
              ></path>
              <path
                class="st6"
                d="M440.5,424.1c-.7.4-1.6.9-2.6,1.4-1.5.7-2.6,1.1-3,1.2-.6.2-2.3.7-4.6,1.1-2.1.3-3.5.3-4.6.2-1.6-.2-2.3-.4-2.7-1-.4-.5-.8-1.4-.8-2.2,0-1,.4-1.3.2-2.1-.2-.6-.5-.6-1.1-1.5-.6-.8-1.2-1.6-1.1-2.5,0-1.1,1-1.2,1.1-2.3,0-.7-.3-.7-.8-2.2-.3-.8-.5-1.5-.4-2.3,0-.3,0-1.3.7-2.2.5-.8,1.4-1.1,3.1-1.8,1.2-.5,1.4-.5,1.7-.8.7-1-.3-2.2,0-3.5.4-1.5,2.3-2,3.7-2.4,1.4-.4,4-.9,7.5,0,.6,1.5,1,3.1.6,3.4-.3.2-.7-.1-1.2-.4-2.3-1.2-5.4-1.5-6.1-.3-.2.4-.3,1,0,1.3.2.3.6,0,1.3.2.2,0,1,.3,1.4,1.1.2.6.2,1.3-.1,1.8-.2.3-.6.4-1.1.6-1.3.3-2.3.4-2.3.4-1.1.1-.6.2-4,1.3-.7.2-1.3.4-1.5.9-.2.4-.1.9.1,1.3.3.4.8.5,1.8.4,1.4,0,2.5-.3,3.5-.6,1-.3,1.5-.4,2.6-.7,2-.5,2.5-.6,2.9-.2.4.4.6,1.4.4,2.1-.3,1-1.3,1.1-6.4,2.8-2.2.7-2.5.9-3.3.8-.6,0-1.3-.2-1.4.2-.2.3.2,1,.6,1.4.3.3,1,.7,3.4,0,1.6-.5,3.1-1.2,5.4-1.7.5-.1,1.1-.3,1.4,0,.4.5,0,1.7-.5,2.4-1.9,3.1-7,1.5-7.5,3.6-.1.4,0,1,.2,1.3.4.6,1.2.6,1.9.5,6-.8,10.1-4.6,10.1-4.6,1.2-1.1,2.8-2.8,4.4-5.3"
              ></path>
              <path
                class="st6"
                d="M356.1,452.3c-.8,2.9-1.9,7.1-3.2,12.2-3.8,14.8-4.3,18-4.6,21.1-.1,1.3-.7,6.9-.3,14.2.3,5.8,1.2,11.4,2.2,18,.3,1.8.2,1.1.7,4.2,1.3,8.3,1.6,11.2,3,15.3.3,1,.7,1.8.8,2.2,7.1,1.3,15.1,1.3,23.4-1.7.6-.2,1.3-.5,1.9-.8-.1-2.5-.3-6.2-.6-10.8-.3-4.8-.4-5.9-.7-9.6-.4-6.4-.6-9.6-.5-13.8.2-6.6.9-11.8,1.3-14,.6-3.4,1.3-6.2,2.7-11.9,3.1-12.5,3.7-11,4.7-14.8,0-.4.4-1.4,1.1-2.5.6-.8,1.2-1.2,1.7-1.5v6.9c-1.1,3.4-2.9,8.4-4.7,14.5-1.7,5.7-2.6,8.6-3.1,11.6-1.4,8.1-.8,15-.6,17.7.3,3.1.5,3,.9,7,.5,5,.5,9,.6,12.2v12c-3.4,1.5-6.5,2.4-8.8,2.9-3.9.8-6.8.9-11.4,1-4.9,0-3-.4-7.2-.5-.6,0-1.9,0-3.3-.9-.6-.4-1.1-.8-1.4-1.1-.5-2.5-1.3-5.9-2.1-10-.8-4-2-10.3-3-18.5-1.1-8.5-1.6-12.9-1.4-18.9,0-1.7.3-5.7,1-10.7.6-4.1,1.4-7.3,3-13.6.5-2,1.1-4.3,2.4-9,.9-3.5,1.7-6.4,2.3-8.5h3.1c0,.1,0,.1,0,.1Z"
              ></path>
              <path
                class="st6"
                d="M399.2,543.4v6.6s0,2.1-1,4.1c-1,2.1-2,9.4-2,9.4,0,0,1.8,1.9,2.9,2.3,1.1.4,15.6,6.8,18.5,6.4,0,0-2.8.6,7.4,1.3,10.2.6,13.3-.4,13.3-.4l3.1-1.8v-1.7l-3.3.8s-.9.6-2.8.7c-1.9,0-4.1.4-5.2,0-1.1-.4-4.9-.5-4.9-.5l-22.3-18.8v-7.6s-3.8-.8-3.8-.8h0Z"
              ></path>
              <path
                class="st6"
                d="M379.9,540.4v6.6s0,2.1,1,4.1c1.1,2.1,2,9.4,2,9.4,0,0-1.9,1.9-3,2.3-1.1.4-16.1,6.8-19.1,6.4,0,0,2.9.6-7.6,1.3-10.5.6-13.7-.4-13.7-.4l-3.2-1.8v-1.7l3.4.8s1,.6,2.9.7c1.9,0,4.2.4,5.3,0,1.1-.4,5-.5,5-.5l23-18.8v-7.6s3.9-.8,3.9-.8h0Z"
              ></path>
              <path
                class="st6"
                d="M336.4,566.5s-.6-2.5.8-4.1c1.4-1.5,5.1-4.5,5.1-4.5l4.4-2.5,3.7-2,3.5-2.1s2.2-1,2.5-1.9c.3-.9,1.1-1.1,1.1-2.4s-.3-4.1-.3-4.1h3.9v3.4l-.8,8.4s-4.2-1.9-5-1.9c0,0-1.2,0-1.1.9.2.9,4.3,3.6,4.3,3.6l2,1.4-2.1,2s-.5-.9-1.7-1.7c-1.2-.8-4.1-2.2-4.1-2.2,0,0-1.9-.9-2.7.5,0,0-.3,1,.5,1.5.9.4,4.4,2.7,4.4,2.7l1.6,1.2,1.7-.2.2,1.6-5.8,3.5s.7-1.3-.4-2l-3.1-3s-3.3-.8-5.3-.7c0,0-2.8,1-3.2,2-.4.9-1.5,2.1-1.2,3.3.3,1.2-3-.7-3-.7h0Z"
              ></path>
              <path
                class="st6"
                d="M376,548.8s-3.5,2.3-4.6,2.4c-1.1,0-3.3.4-3.3.4,0,0,.5-2.3-.5-2.8-.9-.5-2.2-1.7-3.2-1.8-1,0-3.7,0-3.7,0l-.5,7.8,2.3,2s1.1.3.5,1.2c-.6.9-1.4,1.5-1.9,1.2-.5-.3-1.4-.9-1.4-.9l-1.2,2.6s.5,1.1-.2,1.7c-.7.6.2,1.4.2,1.4l18.2-12.3-.5-2.9Z"
              ></path>
              <path
                class="st6"
                d="M382.9,560.5v5.1s0,1.6-.8,2.1c-.7.6-4,2.4-4,2.4l-6.2,2.1-9.2,2.5-6.9,1.3-9.3.7-6.2-.5s-1.9-.6-2.7-1.8c-.7-1.2-1.1-1.5-1.4-3.7-.3-2.3.1-3.7.1-3.7l3.2,3s-.5,1.2.2,2.2c.7,1,5.1,1.4,5.1,1.4h7c0,0,7.7-1.2,7.7-1.2l5.7-1.8,6.9-2.1,4.4-1.9,2.4-1.4.8-.5v-2c.1,0,3.1-2.3,3.1-2.3h0Z"
              ></path>
              <path
                class="st6"
                d="M441.4,569.6s.5-2.5-.8-4.1c-1.4-1.5-4.9-4.5-4.9-4.5l-4.3-2.5-3.6-2-3.4-2.1s-2.1-1-2.4-1.9c-.3-.9-1.1-1.1-1.1-2.4s.3-4.1.3-4.1h-3.8v3.4l.8,8.4s4.1-1.9,4.8-1.9c0,0,1.2,0,1.1.9-.2.9-4.2,3.6-4.2,3.6l-2,1.4,2,2s.5-.9,1.7-1.7,4-2.2,4-2.2c0,0,1.8-.9,2.7.5,0,0,.3,1-.5,1.5-.8.4-4.3,2.7-4.3,2.7l-1.6,1.2-1.7-.2-.2,1.6,5.6,3.5s-.7-1.3.4-2l3-3s3.3-.8,5.1-.7c0,0,2.7,1,3.1,2,.4.9,1.5,2.1,1.2,3.3-.3,1.2,2.9-.7,2.9-.7h0Z"
              ></path>
              <path
                class="st6"
                d="M403,551.8s3.4,2.3,4.5,2.4c1.1,0,3.2.4,3.2.4,0,0-.5-2.3.5-2.8.9-.5,2.1-1.7,3.1-1.8,1,0,3.6,0,3.6,0l.5,7.8-2.2,2s-1.1.3-.5,1.2c.6.9,1.4,1.5,1.9,1.2.5-.3,1.4-.9,1.4-.9l1.2,2.6s-.5,1.1.2,1.7c.7.6-.2,1.4-.2,1.4l-17.7-12.3.5-2.9h0Z"
              ></path>
              <path
                class="st6"
                d="M396.3,563.5v5.1s0,1.6.8,2.1c.7.6,3.9,2.4,3.9,2.4l6,2.1,8.9,2.5,6.7,1.3,9.1.7,6-.5s1.9-.6,2.6-1.8c.7-1.2,1.1-1.5,1.4-3.7.3-2.3-.1-3.7-.1-3.7l-3.1,3s.5,1.2-.2,2.2c-.7,1-5,1.4-5,1.4h-6.8c0,0-7.4-1.2-7.4-1.2l-5.6-1.8-6.7-2.1-4.2-1.9-2.3-1.4-.8-.5v-2c-.1,0-3-2.3-3-2.3h0Z"
              ></path>
              <path
                class="st0"
                d="M352.8,340.4s92.4-.4,92.9,1.8c.5,2.2-2.9,1.8-2.9,1.8l-2.2,1.4-86.3-.8-1.4-4.2h0Z"
              ></path>
              <path
                class="st6"
                d="M425.7,427.9l-.4,20.5v4.2h1.8l18.6-11.8c1.1-1.3,1-3.5,1-3.5v-16.4c0,0-3.2,1.1-3.2,1.1,0,0,.1,6.3.1,6.6s.3,8.3,0,9.1c-.3.8-4,2.9-4,2.9l-9.8,6.3-1.3.9.2-20h-3.1,0Z"
              ></path>
              <path
                class="st6"
                d="M425.4,403.7l.4-49,19.9-12.5s.2-1,1.1,0c.9,1,.5,2.9.5,2.9l-.6,51s-2.3-.3-2.9.4c-.6.6-.1-37.5-.1-37.5l.2-9.9v-1.7l-14.7,9.6s-.2-.4-.3,1.7c-.1,2.1.2,42.8.2,42.8,0,0-3.8,1.7-3.7,2.4Z"
              ></path>
              <path
                class="st6"
                d="M329.6,377.6v-20.4l24.6-12.6-1.4-4.2-24.4,12.2s-1.1-.1-1.9,2c-.7,2.1-.7,4.1-.7,4.1l.5,38.4s2-.6,3.4.6"
              ></path>
              <path
                class="st6"
                d="M326.9,418.9v30.7s-.3,1.6,1.5,2.6c1.8,1.1,1.4,0,1.4,0l95.5.5v-4.2h-94c0,0-.8-.5-1-2.1-.2-1.6-.2-27.5-.2-27.5,0,0-1.6,1-3.2,0h0Z"
              ></path>
              <path
                class="st6"
                d="M329.6,357.2l96.2,1.9v-4.4s-90.4-1.3-90.4-1.3l-5.8,3.8Z"
              ></path>
            </g>
          </svg>
        </div>
      </section>
    </body>
  </Layout>
</html>

<style>
  @font-face {
    font-family: didot;
    src: url(/fonts/gfs-didot-italic.ttf);
  }

  .banner {
    background-image: url("../assets/flow-banner.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
    z-index: 1;
  }

  span {
    font-family: didot;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .flow {
    background-image: url("../assets/flow-banner-sand.png");
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .flowContainer {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .toki-flow {
    height: 85vh;
    width: auto;
  }

  /* Step info box styles */
  .step-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 5;
    padding: 2rem;
  }

  .step-info.active {
    opacity: 1;
  }

  .step-info h3 {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #2f2521;
    font-weight: 400;
  }

  .step-info .divider {
    width: 60px;
    height: 2px;
    background: #2f2521;
    margin: 1.5rem auto;
  }

  .step-info p {
    font-size: 14px;
    line-height: 1.8;
    color: #2f2521;
  }

  /* Illustration transition */
  #illustration {
    transition: opacity 0.4s ease;
  }

  /* Active state for numbered circles */
  #num1 ellipse.active,
  #num2 ellipse.active,
  #num3 ellipse.active,
  #num4 ellipse.active,
  #num5 ellipse.active {
    fill: #808369;
    transition: fill 0.3s ease;
  }

  /* Hover cursor for numbered circles */
  #num1,
  #num2,
  #num3,
  #num4,
  #num5 {
    cursor: pointer;
  }

  .flowtextContainer {
    margin-left: 2vw;
  }

  .sectionheading {
    margin-bottom: 0;
  }
</style><script>
  // Content for each step
  const stepContent = {
    1: {
      title: "1. We start by understanding your reality",
      description:
        "Purpose: To create a shared foundation - understanding your packaging's journey and how it can generate more value for your business, brand, and the planet",
    },
    2: {
      title: "2. We shape your design DNA",
      description:
        "Purpose: To turn insight into a clear design foundation - defining the visual and structural principples that give packaging character and connect business, brand, and plant",
    },
    3: {
      title: "3. We make ideas tangible",
      description:
        "Purpose: To turn design principles into concepts that show how the packaging looks, feels, and performs in practice.",
    },
    4: {
      title: "4. We prepare the solution for the world",
      description:
        "To refine and prepare the packaging for production and scaling — ensuring it works in reality, not just on paper.",
    },
    5: {
      title: "5. We scale together",
      description:
        "Purpose: To scale the solution through the right partners and processes — ensuring it works globally, consistently, and sustainably.",
    },
  };

  // Get DOM elements
  const illustration = document.querySelector("#illustration");
  const stepInfo = document.querySelector(".step-info");
  const stepTitle = document.querySelector("#step-title");
  const stepDescription = document.querySelector("#step-description");

  const num1 = document.querySelector("#num1");
  const num2 = document.querySelector("#num2");
  const num3 = document.querySelector("#num3");
  const num4 = document.querySelector("#num4");
  const num5 = document.querySelector("#num5");

  // Function to show step content
  function showStep(stepNumber) {
    const content = stepContent[stepNumber];

    // Update text content
    stepTitle.textContent = content.title;
    stepDescription.textContent = content.description;

    // Show info box, hide illustration
    stepInfo.classList.add("active");
    illustration.style.opacity = "0";

    // Highlight active number
    [num1, num2, num3, num4, num5].forEach((num, index) => {
      const ellipse = num.querySelector("ellipse");
      if (index + 1 === stepNumber) {
        ellipse.classList.add("active");
      } else {
        ellipse.classList.remove("active");
      }
    });
  }

  // Function to reset view
  function resetView() {
    stepInfo.classList.remove("active");
    illustration.style.opacity = "1";

    // Remove all active states
    [num1, num2, num3, num4, num5].forEach((num) => {
      num.querySelector("ellipse").classList.remove("active");
    });
  }

  // Add event listeners
  num1.addEventListener("mouseenter", () => showStep(1));
  num2.addEventListener("mouseenter", () => showStep(2));
  num3.addEventListener("mouseenter", () => showStep(3));
  num4.addEventListener("mouseenter", () => showStep(4));
  num5.addEventListener("mouseenter", () => showStep(5));

  // Reset when mouse leaves the SVG
  document
    .querySelector(".toki-flow")
    .addEventListener("mouseleave", resetView);
</script>
