---
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <Layout>
    <div class="heroContainer">
      <!--?xml version="1.0" encoding="UTF-8"?-->
      <svg
        class="man"
        width="181"
        height="335"
        viewBox="0 0 181 335"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_307_130)">
          <path
            d="M14.6173 57.5368L14.8102 107.91C14.8102 107.91 17.7255 108.356 18.5199 108.784C19.3142 109.212 21.065 110.718 21.065 110.718L21.7282 113.231L20.6639 117.776V120.691L20.1549 128.694L18.1651 132.393L15.242 134.336L15.458 168.596C15.458 168.596 15.9747 171.251 16.7383 171.251C17.5018 171.251 131.87 171.162 131.87 171.162L132.302 145.646L130.876 140.352L130.336 136.484L127.258 133.864L129.248 130.726L126.981 126.956L128.523 123.819L131.87 121.413L131.994 113.775L132.418 59.8898L14.6096 57.528L14.6173 57.5368Z"
            fill="#DAD0BD"></path>
          <path
            d="M23.5562 52.8667L132.464 54.4264L150.542 42.8312L44.7655 41.8063L23.5562 52.8667Z"
            fill="#DAD0BD"></path>
          <path
            d="M135.063 57.0377L154.669 45.1484V158.943L135.827 170.538L136.066 145.735L153.496 134.683L153.975 108.463L145.437 113.962L136.521 113.507L135.063 57.0377Z"
            fill="#DAD0BD"></path>
          <path
            d="M20.8877 125.931C20.9648 125.798 20.8723 125.931 21.9058 123.48C22.5074 122.037 22.6076 121.823 22.6462 121.35C22.6693 120.994 22.7619 119.817 22.1834 118.792C21.9521 118.382 21.6667 118.088 21.7207 117.661C21.7592 117.34 21.9443 117.197 22.1294 116.912C22.4688 116.377 22.5074 115.816 22.5613 115.129C22.6925 113.374 21.8364 111.903 21.6358 111.555C20.9263 110.343 20.0625 109.737 19.3144 109.238C18.6588 108.793 18.2809 108.659 14.2164 107.456C12.6585 106.992 11.8564 106.769 10.7612 106.966C10.1365 107.081 9.12616 107.277 8.74825 108.169C8.43204 108.908 8.72512 109.728 8.77911 109.88C8.98735 110.477 9.46552 111.146 10.8461 111.805C12.7356 112.705 15.1419 113.026 17.0855 113.267C17.5714 113.329 18.3812 113.427 18.6588 114.051C18.8516 114.488 18.7591 115.085 18.5046 115.477C18.1961 115.967 17.6793 116.083 17.4634 116.119C15.273 116.564 12.0646 113.605 9.11074 114.506C8.77139 114.612 7.73792 114.924 7.47569 115.825C7.23661 116.645 7.76105 117.5 7.87674 117.678C8.43204 118.543 9.31899 118.837 10.445 119.069C12.9747 119.586 15.6741 119.55 17.7102 120.254C18.0341 120.37 18.5971 120.593 18.7282 121.101C18.8516 121.582 18.5586 122.126 18.2963 122.42C17.8644 122.901 17.286 122.972 17.0623 122.99C12.3346 123.454 9.97454 123.685 8.62485 122.669C8.33949 122.455 7.80733 122.001 7.32915 122.206C6.8047 122.42 6.56562 123.32 6.5579 123.953C6.54248 125.004 7.15177 125.744 7.32915 125.949C8.08498 126.84 9.03361 126.983 10.6995 127.197C12.7048 127.455 13.7074 127.589 14.9028 127.268C15.7743 127.037 16.7384 126.591 17.286 127.126C17.3323 127.17 17.6253 127.455 17.6253 127.839C17.6253 128.311 17.2089 128.569 17.2551 128.65C17.3477 128.819 19.6537 128.106 20.9032 125.914L20.8877 125.931Z"
            fill="#2F2521"></path>
          <path
            d="M105.964 37.1985C101.537 34.6228 97.3572 31.5747 94.5962 30.3626C91.7734 29.1148 90.2772 28.6068 88.4956 28.286C85.6342 27.778 83.4285 28.0097 80.9605 28.286C78.6621 28.5444 75.5077 29.097 71.8134 30.3626L71.019 36.5568C68.7593 37.2252 66.5998 37.5817 66.0599 36.5568C65.4661 35.416 67.3788 32.7689 66.7849 31.8153C66.2373 30.9419 64.2783 32.1718 61.2242 32.6442C59.8591 32.8492 54.522 33.678 51.8921 30.3626C51.5758 29.9704 50.2107 28.2325 50.4575 26.4233C51.2442 20.7282 66.4533 18.7674 74.8367 19.017C77.0734 19.0883 79.0323 19.3111 79.5259 19.3735C81.4463 19.6052 86.2204 20.2736 92.0819 22.4839C95.5756 23.803 100.095 26.5302 109.127 32.0203C113.769 34.8456 115.397 35.9418 115.227 36.5835C114.949 37.653 110.26 38.0719 105.964 37.1985Z"
            fill="#2F2521"></path>
          <path
            d="M109.674 32.3501C109.99 28.9455 109.72 26.1916 109.427 24.3467C109.18 22.7692 108.887 21.0223 107.993 18.9546C107.152 17.0206 106.211 15.7996 105.062 14.329C103.327 12.1009 102.216 10.6838 100.342 9.42716C97.1567 7.28816 94.0486 7.13665 92.5061 7.07426C91.6885 7.04752 89.799 7.03861 87.4852 7.69813C85.0172 8.39331 83.3205 9.48063 81.9245 10.3897C79.7727 11.789 78.6236 12.9922 77.1428 14.534C76.279 15.4342 75.2532 16.6106 75.1067 18.2951C75.0758 18.6249 75.0912 18.9101 75.1067 19.0972L67.988 19.2398C67.9649 19.0527 67.934 18.7675 67.9263 18.411C67.8723 14.4805 71.0807 11.4592 73.3096 9.35586C74.4819 8.25071 76.1556 6.87818 78.3305 5.69282C80.3974 4.56984 81.7548 3.8301 83.7138 3.6162C85.1252 3.46469 86.151 3.22406 89.7527 3.41122C90.1306 3.42905 90.4391 3.35774 90.6473 3.33992C90.6242 3.10819 90.6165 2.76061 90.709 2.36846C90.9867 1.1831 91.9585 0.612698 92.267 0.434448C93.8943 -0.519189 95.6682 0.363151 96.0924 0.577051C96.5783 0.817689 98.3444 1.70003 98.6606 3.54492C98.7455 4.01728 98.7069 4.43616 98.6606 4.72136C99.8021 5.05112 101.306 5.58588 102.964 6.52169C104.275 7.25251 106.381 8.61612 108.525 10.9423C110.862 13.4823 112.142 15.9689 112.589 16.8869C114.116 20.0241 114.641 22.7424 115.219 25.7281C115.512 27.2611 115.752 28.5267 115.821 30.2913C115.913 32.9294 115.559 35.113 115.227 36.5836L109.674 32.3501Z"
            fill="#2F2521"></path>
          <path
            d="M158.533 69.4974C160.145 71.164 162.165 73.2763 164.479 75.745C168.328 79.8537 169.191 80.9232 169.724 81.5917C170.441 82.5007 172.508 85.1655 174.783 89.0336C175.824 90.8161 177.081 92.964 178.369 96.0566C179.441 98.6145 180.297 100.709 180.76 103.712C180.837 104.212 181.161 106.413 181.038 109.354C180.976 110.771 180.853 113.267 179.935 116.27C178.986 119.363 177.675 121.422 176.804 122.758C174.976 125.566 173.156 127.286 171.829 128.507C170.549 129.692 169.253 130.61 166.677 132.446C163.152 134.951 161.309 135.904 159.404 136.591C158.741 136.831 158.841 136.76 158.116 137.018C152.918 138.854 150.959 141.386 150.288 140.744C149.602 140.075 151.692 137.402 152.409 131.805C152.741 129.229 152.61 127.357 152.502 125.958C152.316 123.516 152.178 121.93 151.214 120.423C150.427 119.193 149.393 118.489 148.638 117.972C146.702 116.653 145.607 116.814 145.136 115.735C144.658 114.621 145.29 113.222 145.599 112.545C147.542 108.24 152.887 106.769 154.53 106.377L154.345 69.4885H158.525L158.533 69.4974Z"
            fill="#2F2521"></path>
          <path
            d="M10.5453 93.8107C9.00279 93.1244 5.47819 99.3988 3.89712 102.777C3.55006 103.516 2.50888 105.816 1.59109 109.069C0.742718 112.072 -0.136513 115.192 0.0177367 119.309C0.0948617 121.359 0.241411 124.434 1.86104 127.741C2.50117 129.042 4.00512 132.019 7.12097 133.712C8.84085 134.648 10.3448 134.817 11.0929 134.888C12.4272 135.022 15.034 135.022 17.7411 133.391C19.137 132.553 20.9572 131.466 21.5279 129.229C21.929 127.651 21.6744 125.664 20.9726 125.388C20.3865 125.156 19.8157 126.243 17.6485 128.266C16.4454 129.389 15.8438 129.951 15.2499 130.29C12.8513 131.662 9.41158 130.771 7.12097 128.685C5.03088 126.787 4.35989 124.247 3.98197 122.821C2.62457 117.723 4.06682 113.169 5.00003 110.227C5.70187 108.008 6.38055 105.86 8.04645 103.721C9.22646 102.206 9.97458 101.885 10.6301 100.415C11.7793 97.8569 11.5634 94.2563 10.5376 93.8017L10.5453 93.8107Z"
            fill="#2F2521"></path>
          <path
            d="M139.09 173.729L141.349 186.367L143.262 205.823L144.134 225.074L143.262 247.132L141.612 263.781L137.185 288.656C136.236 289.235 135.249 289.77 134.231 290.26C120.333 296.953 105.756 292.301 96.7402 288.05C96.4317 287.426 96.0153 286.472 95.6991 285.242C94.7736 281.597 95.5063 278.46 95.8765 276.615C96.6631 272.622 96.4395 268.46 96.748 264.378C97.2647 257.578 97.3495 252.507 97.4421 246.731C97.5655 239.486 97.6195 235.867 97.2647 230.885C97.1567 229.352 96.7788 224.423 95.6991 218.051C94.4573 210.663 92.938 205.279 92.5755 204.014C91.5497 200.44 90.1923 196.313 88.3645 191.83L88.2488 183.292C88.6575 183.586 89.3517 184.13 90.0998 184.959C91.6809 186.715 92.4367 188.56 92.7529 189.371C98.4756 203.773 100.219 220.056 100.219 220.056C101.113 228.461 101.715 234.049 101.954 242.917C102.224 252.926 102.031 266.642 100.041 283.032L101.067 284.636C103.003 285.207 105.047 285.715 107.198 286.116C117.387 288.05 126.48 287.167 133.66 285.536L134.447 282.319L135.349 276.232C135.403 275.091 136.884 264.548 136.884 264.548C137.215 259.975 138.311 252.23 138.48 250.965C138.65 249.699 139.637 238.461 139.637 238.461L140.185 222.65L139.799 215.796L138.203 194.843L136.722 181.323L135.681 175.734L139.09 173.72V173.729Z"
            fill="#2F2521"></path>
          <path
            d="M150.519 140.833C149.632 141.368 148.545 141.965 147.288 142.562C145.506 143.4 144.103 143.89 143.648 144.05C142.93 144.291 140.856 144.968 137.971 145.414C135.395 145.806 133.668 145.788 132.295 145.664C130.305 145.476 129.534 145.111 128.978 144.425C128.439 143.756 128.053 142.722 128.014 141.706C127.96 140.423 128.477 140.058 128.23 139.113C128.03 138.355 127.636 138.346 126.842 137.259C126.132 136.297 125.384 135.281 125.454 134.166C125.531 132.839 126.68 132.678 126.742 131.323C126.78 130.495 126.364 130.423 125.778 128.605C125.446 127.571 125.192 126.778 125.246 125.762C125.261 125.423 125.338 124.14 126.102 123.044C126.765 122.09 127.798 121.653 129.85 120.816C131.354 120.201 131.593 120.254 131.886 119.826C132.688 118.623 131.516 117.126 131.994 115.495C132.534 113.668 134.77 113.017 136.49 112.527C138.249 112.019 141.434 111.44 145.622 112.571C146.308 114.461 146.864 116.413 146.362 116.823C146.038 117.081 145.475 116.698 144.851 116.359C142.028 114.817 138.233 114.506 137.346 115.949C137.046 116.44 137.023 117.224 137.292 117.58C137.586 117.955 138.033 117.625 138.858 117.874C139.082 117.946 140.092 118.249 140.524 119.274C140.809 119.96 140.809 120.931 140.37 121.546C140.077 121.956 139.683 122.081 139.012 122.242C137.431 122.625 136.197 122.776 136.143 122.785C134.84 122.946 135.403 123.07 131.2 124.345C130.32 124.612 129.611 124.808 129.333 125.512C129.14 125.994 129.187 126.644 129.472 127.072C129.804 127.562 130.39 127.678 131.655 127.607C133.351 127.518 134.686 127.188 135.989 126.849C137.223 126.528 137.886 126.368 139.213 126.038C141.65 125.432 142.275 125.307 142.737 125.744C143.285 126.27 143.486 127.446 143.193 128.364C142.784 129.63 141.658 129.71 135.38 131.796C132.742 132.678 132.287 132.883 131.3 132.847C130.529 132.821 129.742 132.651 129.534 133.079C129.333 133.498 129.75 134.327 130.251 134.773C130.644 135.138 131.47 135.601 134.423 134.71C136.336 134.131 138.257 133.257 141.072 132.553C141.719 132.393 142.452 132.232 142.784 132.669C143.254 133.275 142.761 134.799 142.228 135.699C139.961 139.514 133.637 137.625 133.012 140.12C132.881 140.637 133.012 141.323 133.313 141.751C133.822 142.455 134.809 142.455 135.681 142.33C142.977 141.332 148.113 136.564 148.113 136.564C149.571 135.209 151.576 133.079 153.512 129.924"
            fill="#2F2521"></path>
          <path
            d="M47.0254 175.948C46.0768 179.531 44.7039 184.781 43.0997 191.162C38.4645 209.539 37.8321 213.612 37.4388 217.445C37.2768 219.013 36.5981 226.063 37.0917 235.19C37.485 242.382 38.5262 249.396 39.7448 257.605C40.0841 259.886 39.9685 258.968 40.5546 262.809C42.128 273.139 42.5213 276.811 44.2489 281.891C44.6731 283.13 45.0587 284.119 45.2901 284.69C53.9358 286.321 63.8232 286.347 73.9266 282.551C74.7133 282.257 75.4845 281.945 76.2326 281.615C76.1092 278.513 75.8933 273.843 75.5385 268.139C75.1683 262.141 75.0063 260.849 74.7287 256.134C74.2659 248.14 74.0346 244.138 74.1503 238.924C74.3354 230.671 75.2609 224.29 75.7082 221.464C76.3869 217.231 77.2584 213.702 79.0014 206.634C82.8422 191.064 83.5903 192.935 84.7781 188.221C84.8938 187.748 85.2177 186.429 86.1663 185.155C86.8836 184.192 87.6857 183.613 88.241 183.283L88.3567 191.821C86.845 196.073 84.7472 202.24 82.4643 209.834C80.3511 216.892 79.2791 220.493 78.6544 224.245C76.9653 234.361 77.6209 242.917 77.9602 246.259C78.3536 250.136 78.6235 250.002 79.1171 254.931C79.7264 261.125 79.7727 266.152 79.8112 270.144C79.8112 270.43 79.8112 270.225 79.8112 282.283V285.082C75.5848 287.007 71.8828 288.068 69.0754 288.682C64.2783 289.734 60.7845 289.797 55.1004 289.886C49.0769 289.984 51.4215 289.395 46.3236 289.217C45.5909 289.19 44.0098 289.146 42.2822 288.148C41.5033 287.693 40.9248 287.185 40.5469 286.811C39.8759 283.754 38.9735 279.503 38.0095 274.405C37.0608 269.396 35.5955 261.588 34.3152 251.321C32.9886 240.689 32.3254 235.225 32.5799 227.837C32.6493 225.76 32.8884 220.769 33.8524 214.495C34.6391 209.352 35.6109 205.422 37.5467 197.552C38.1483 195.092 38.9118 192.178 40.4312 186.34C41.5726 181.973 42.529 178.346 43.2 175.797L47.01 175.93L47.0254 175.948Z"
            fill="#2F2521"></path>
          <path
            d="M99.887 289.44V297.666C99.887 297.666 99.9641 300.224 98.7146 302.782C97.4652 305.34 96.3083 314.457 96.3083 314.457C96.3083 314.457 98.5604 316.792 99.887 317.345C101.214 317.898 119.014 325.794 122.569 325.349C122.569 325.349 119.106 326.124 131.616 326.908C144.126 327.693 147.874 326.356 147.874 326.356L151.63 324.128V322.015L147.589 323.013C147.589 323.013 146.432 323.789 144.126 323.905C141.82 324.021 139.12 324.457 137.778 324.012C136.436 323.566 131.817 323.343 131.817 323.343L104.491 299.894L104.53 290.394L99.8947 289.431L99.887 289.44Z"
            fill="#2F2521"></path>
          <path
            d="M76.225 285.67V293.896C76.225 293.896 76.1479 296.454 77.4359 299.012C78.7238 301.57 79.9116 310.687 79.9116 310.687C79.9116 310.687 77.5901 313.023 76.225 313.575C74.8599 314.128 56.5273 322.024 52.8638 321.578C52.8638 321.578 56.4347 322.354 43.5471 323.138C30.6595 323.922 26.8033 322.586 26.8033 322.586L22.9393 320.357V318.245L27.1041 319.243C27.1041 319.243 28.2918 320.019 30.675 320.135C33.0581 320.251 35.8269 320.687 37.2152 320.242C38.6034 319.796 43.362 319.573 43.362 319.573L71.5049 296.124L71.4664 286.624L76.2404 285.661L76.225 285.67Z"
            fill="#2F2521"></path>
          <path
            d="M22.9316 318.245C22.9316 318.245 22.2374 315.072 23.9573 313.147C25.6772 311.222 30.1582 307.577 30.1582 307.577L35.5955 304.52L40.0842 302.007L44.38 299.44C44.38 299.44 47.0563 298.156 47.4342 297.087C47.8121 296.017 48.7684 295.697 48.7684 294.092C48.7684 292.488 48.4137 289.03 48.4137 289.03H53.1646V293.237L52.2082 303.638C52.2082 303.638 47.0563 301.267 46.0999 301.267C46.0999 301.267 44.5728 301.267 44.7657 302.443C44.9585 303.62 50.0179 306.944 50.0179 306.944L52.5013 308.655L49.9253 311.115C49.9253 311.115 49.2543 309.939 47.8275 308.976C46.4007 308.014 42.7681 306.196 42.7681 306.196C42.7681 306.196 40.4775 305.126 39.4286 306.837C39.4286 306.837 39.043 308.121 40.0996 308.655C41.1562 309.19 45.5369 311.971 45.5369 311.971L47.5421 313.468L49.6399 313.254L49.9253 315.286L42.8607 319.6C42.8607 319.6 43.7245 317.96 42.3902 317.104L38.5725 313.352C38.5725 313.352 34.4695 312.39 32.0786 312.497C32.0786 312.497 28.6388 313.78 28.1683 314.957C27.6979 316.133 26.2865 317.621 26.6567 319.128C27.0269 320.634 22.9393 318.236 22.9393 318.236L22.9316 318.245Z"
            fill="#2F2521"></path>
          <path
            d="M71.4894 296.124C71.4894 296.124 67.1936 299.012 65.8593 299.119C64.525 299.226 61.8488 299.654 61.8488 299.654C61.8488 299.654 62.4195 296.775 61.2781 296.124C60.1366 295.474 58.6018 293.977 57.3678 293.87C56.1338 293.763 52.7866 293.87 52.7866 293.87L52.2159 303.629L54.9847 306.08C54.9847 306.08 56.3189 306.401 55.5554 307.577C54.7919 308.753 53.8355 309.502 53.1722 309.074C52.509 308.646 51.4292 307.907 51.4292 307.907L49.9253 311.115C49.9253 311.115 50.496 312.506 49.6399 313.254C48.7838 314.003 49.8867 315.028 49.8867 315.028L72.1604 299.761L71.4894 296.124Z"
            fill="#2F2521"></path>
          <path
            d="M79.9115 310.688V317.006C79.9115 317.006 79.7958 318.949 78.932 319.636C78.0682 320.322 74.0654 322.684 74.0654 322.684L66.5226 325.357L55.2624 328.459L46.8635 330.063L35.4104 330.919L27.775 330.277C27.775 330.277 25.3918 329.529 24.528 328.031C23.6642 326.534 23.1552 326.222 22.7927 323.379C22.4302 320.536 22.9316 318.825 22.9316 318.825L26.7955 322.586C26.7955 322.586 26.1554 324.074 27.0115 325.357C27.8676 326.641 33.3126 327.069 33.3126 327.069L41.9043 326.962L51.2904 325.571L58.3242 323.379L66.8157 320.803L72.1604 318.397L75.122 316.686L76.0784 316.044L76.2326 313.575L79.9192 310.688H79.9115Z"
            fill="#2F2521"></path>
          <path
            d="M151.63 322.015C151.63 322.015 152.301 318.842 150.635 316.917C148.969 314.992 144.612 311.347 144.612 311.347L139.329 308.29L134.971 305.777L130.799 303.21C130.799 303.21 128.207 301.926 127.837 300.857C127.467 299.787 126.541 299.467 126.541 297.862C126.541 296.258 126.888 292.8 126.888 292.8H122.276V297.007L123.202 307.408C123.202 307.408 128.207 305.037 129.133 305.037C129.133 305.037 130.613 305.037 130.428 306.213C130.243 307.39 125.33 310.714 125.33 310.714L122.924 312.425L125.423 314.885C125.423 314.885 126.071 313.709 127.459 312.746C128.847 311.784 132.372 309.966 132.372 309.966C132.372 309.966 134.593 308.896 135.619 310.607C135.619 310.607 135.989 311.891 134.971 312.425C133.953 312.96 129.688 315.741 129.688 315.741L127.744 317.238L125.708 317.024L125.431 319.056L132.295 323.37C132.295 323.37 131.454 321.73 132.758 320.874L136.467 317.122C136.467 317.122 140.455 316.16 142.768 316.267C142.768 316.267 146.108 317.55 146.571 318.727C147.033 319.903 148.398 321.391 148.036 322.898C147.674 324.404 151.645 322.006 151.645 322.006L151.63 322.015Z"
            fill="#2F2521"></path>
          <path
            d="M104.484 299.903C104.484 299.903 108.656 302.791 109.952 302.898C111.247 303.005 113.846 303.433 113.846 303.433C113.846 303.433 113.291 300.554 114.402 299.903C115.512 299.253 116.993 297.755 118.204 297.648C119.415 297.542 122.654 297.648 122.654 297.648L123.209 307.408L120.526 309.859C120.526 309.859 119.23 310.179 119.97 311.356C120.711 312.532 121.636 313.281 122.284 312.853C122.932 312.425 123.973 311.686 123.973 311.686L125.431 314.894C125.431 314.894 124.875 316.285 125.708 317.033C126.541 317.782 125.469 318.807 125.469 318.807L103.843 303.54L104.491 299.903H104.484Z"
            fill="#2F2521"></path>
          <path
            d="M96.3083 314.457V320.776C96.3083 320.776 96.424 322.719 97.257 323.406C98.0899 324.092 101.985 326.454 101.985 326.454L109.304 329.127L120.24 332.229L128.392 333.833L139.514 334.689L146.925 334.047C146.925 334.047 149.239 333.299 150.08 331.801C150.921 330.304 151.414 329.992 151.769 327.149C152.124 324.306 151.638 322.595 151.638 322.595L147.882 326.356C147.882 326.356 148.507 327.844 147.674 329.127C146.841 330.411 141.558 330.839 141.558 330.839L133.22 330.732L124.104 329.341L117.279 327.149L109.034 324.573L103.843 322.167L100.974 320.456L100.049 319.814L99.9024 317.345L96.3238 314.457H96.3083Z"
            fill="#2F2521"></path>
          <path
            d="M43.0303 36.5836C43.0303 36.5836 156.173 36.129 156.805 38.8117C157.437 41.4944 153.273 41.0755 153.273 41.0755L150.535 42.8312L44.7656 41.8063L43.0303 36.5747V36.5836Z"
            fill="#231F20"></path>
          <path
            d="M132.303 145.655L131.871 171.171V176.376H134.123L156.967 161.742C158.324 160.173 158.209 157.428 158.209 157.428V150.69L158.124 137.01L154.322 138.391C154.322 138.391 154.476 146.207 154.476 146.564C154.476 146.92 154.784 156.893 154.399 157.874C154.013 158.854 149.501 161.466 149.501 161.466L137.454 169.371L135.819 170.538L136.058 145.637H132.295L132.303 145.655Z"
            fill="#2F2521"></path>
          <path
            d="M131.978 115.477L132.457 54.4264L156.805 38.8117C156.805 38.8117 157.075 37.5729 158.139 38.8117C159.204 40.0505 158.81 42.3678 158.81 42.3678L158.078 105.932C158.078 105.932 155.209 105.602 154.53 106.386C153.851 107.171 154.399 59.6848 154.399 59.6848L154.669 47.3142V45.1485L136.606 57.0556C136.606 57.0556 136.336 56.5921 136.205 59.2213C136.074 61.8505 136.475 112.509 136.475 112.509C136.475 112.509 131.863 114.568 131.978 115.477Z"
            fill="#2F2521"></path>
          <path
            d="M14.602 82.92V57.5372L44.7656 41.8066L43.0303 36.575L13.1443 51.8243C13.1443 51.8243 11.7792 51.6728 10.8614 54.2931C9.94361 56.9133 9.9436 59.3821 9.9436 59.3821L10.6069 107.215C10.6069 107.215 13.0209 106.529 14.8025 107.902"
            fill="#2F2521"></path>
          <path
            d="M11.3628 134.336V172.526C11.3628 172.526 11.008 174.478 13.1906 175.824C15.3733 177.169 14.9028 175.824 14.9028 175.824L131.863 176.385V171.18L16.7307 171.269C16.7307 171.269 15.7512 170.547 15.4504 168.613C15.1496 166.679 15.2345 134.354 15.2345 134.354C15.2345 134.354 13.2446 135.619 11.3551 134.354L11.3628 134.336Z"
            fill="#2F2521"></path>
          <path
            d="M14.6174 57.5368L132.418 59.8986L132.464 54.4264L21.7283 52.8667L14.6174 57.5368Z"
            fill="#2F2521"></path>
        </g>
        <defs>
          <clipPath id="clip0_307_130">
            <rect width="181" height="335" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <div class="textContainer">
        <h1 class="green">Tóki</h1>
        <p class="subheader brown">
          A house built on stories, identities, and impact.
        </p>
      </div>
      <!--?xml version="1.0" encoding="UTF-8"?-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="box"
        width="800"
        height="800"
        viewBox="0 0 800 800"
      >
        <g id="Layer_2" data-name="Layer 2">
          <polygon
            points="236.94 482.56 406.01 561.94 411.46 377.73 236.94 320.16 236.94 482.56"
            style="fill: #dad0be; opacity: .99; stroke: #2f2521; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px;"
          ></polygon>
          <polygon
            points="562.96 335.91 557.5 501.95 406.01 561.94 411.46 377.73 562.96 335.91"
            style="fill: #dad0be; opacity: .99; stroke: #2f2521; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px;"
          ></polygon>
          <polygon
            points="386.01 281.37 562.96 335.91 411.46 377.73 236.94 320.16 386.01 281.37"
            style="fill: #dad0be; opacity: .99; stroke: #2f2521; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px;"
          ></polygon>
        </g>
        <g id="Layer_3" data-name="Layer 3">
          <polygon
            points="466.3 362.59 466.3 385.73 510.97 374.16 510.97 350.26 466.3 362.59"
            style="fill: #d8a8a0; opacity: .99; stroke: #2f2521; stroke-linecap: round; stroke-linejoin: round; stroke-width: 3px;"
          ></polygon>
          <polygon
            points="304.29 302.64 466.3 362.59 510.97 350.26 348.83 291.05 304.29 302.64"
            style="fill: #d8a8a0; opacity: .99; stroke: #2f2521; stroke-linecap: round; stroke-linejoin: round; stroke-width: 3px;"
          ></polygon>
        </g>
      </svg>
    </div>
  </Layout>
</html>

<style>
  .heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 400px;
    margin-top: 100px;
  }

  .subheader {
    position: relative;
    bottom: 400px;
  }

  .man {
    position: relative;
    bottom: 160px;
    left: 15px;
  }

  .box {
    position: relative;
  }
</style>
