---

---

<header>
  <nav>
    <div>
      <a href="/"
        ><svg
          width="115"
          height="115"
          viewBox="0 0 115 115"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M57.5001 114.772C25.9194 114.772 0.223999 89.0762 0.223999 57.4955C0.223999 25.9149 25.9194 0.219467 57.5001 0.219467C89.0807 0.219467 114.776 25.9149 114.776 57.4955C114.776 89.0762 89.0807 114.772 57.5001 114.772ZM21.1359 99.9599C31.2672 108.649 44.1754 113.428 57.5001 113.428C61.3698 113.428 65.2441 113.025 69.0243 112.232V25.6282H34.7518L21.1315 99.9599H21.1359ZM73.0553 111.229C84.0868 108.026 94.1015 101.295 101.304 92.2383L73.0553 51.5386V111.229ZM11.5601 25.6282C5.02089 35.0249 1.56767 46.0385 1.56767 57.4955C1.56767 72.2535 7.2693 86.156 17.6379 96.6903L30.6581 25.6282H11.5646H11.5601ZM103.825 88.803C110.114 79.5317 113.432 68.7151 113.432 57.4955C113.432 43.1004 107.964 29.4353 98.0206 18.9815L75.017 47.2926L103.821 88.7985L103.825 88.803ZM73.0553 43.3243L95.1272 16.1554C88.8165 10.4045 81.1934 6.12713 73.0553 3.76675V43.3243ZM69.0243 21.5972V2.759C65.2441 1.96624 61.3698 1.56313 57.5001 1.56313C40.9192 1.56313 25.3237 8.85925 14.6416 21.5972H69.0243Z"
            fill="#4C513A"></path>
          <path
            d="M57.5 0.447904C88.9597 0.447904 114.552 26.0403 114.552 57.5C114.552 88.9597 88.9597 114.552 57.5 114.552C26.0403 114.552 0.447889 88.9597 0.447889 57.5C0.447889 26.0403 26.0403 0.447904 57.5 0.447904ZM14.1622 21.8212H69.2481V2.57985C65.459 1.76917 61.5265 1.3392 57.5 1.3392C40.0726 1.3392 24.4727 9.32059 14.1622 21.8212ZM72.8313 43.9514L95.4362 16.1285C89.0717 10.288 81.3635 5.88975 72.8313 3.46667V43.9514ZM103.825 89.1971C110.024 80.1677 113.656 69.2481 113.656 57.4955C113.656 42.433 107.695 28.7411 98.0071 18.6456L74.7392 47.2837L103.825 89.1971ZM57.5 113.652C61.531 113.652 65.459 113.222 69.2481 112.411V25.4043H34.5681L20.894 100.045C30.7297 108.519 43.5303 113.652 57.5 113.652ZM17.7767 97.1561L30.9223 25.4088H11.4436C5.08356 34.5099 1.34367 45.5772 1.34367 57.5C1.34367 72.9656 7.62755 86.9935 17.7767 97.1561ZM72.8313 111.524C84.3375 108.255 94.3523 101.398 101.581 92.2472L72.8313 50.822V111.524ZM57.5 1.52588e-05C25.7939 1.52588e-05 0 25.7939 0 57.5C0 89.2061 25.7939 115 57.5 115C89.2061 115 115 89.2061 115 57.5C115 25.7939 89.2061 1.52588e-05 57.5 1.52588e-05ZM15.1207 21.3733C25.7536 8.91301 41.1431 1.78709 57.4955 1.78709C61.2891 1.78709 65.0873 2.17676 68.7958 2.94265V21.3733H15.1163H15.1207ZM73.2792 42.6928V4.06684C81.2113 6.41378 88.6373 10.5926 94.8226 16.1778L73.2792 42.6928ZM75.2991 47.3061L98.034 19.3219C107.82 29.7085 113.208 43.2437 113.208 57.4955C113.208 68.5584 109.966 79.2316 103.821 88.4044L75.2991 47.3061ZM34.9398 25.8522H68.8003V112.048C65.0917 112.814 61.2936 113.204 57.5 113.204C44.2694 113.204 31.4508 108.47 21.3778 99.8703L34.9398 25.8522ZM11.6765 25.8522H30.3848L17.4901 96.2245C7.35884 85.7663 1.78707 72.0474 1.78707 57.4955C1.78707 46.1236 5.20447 35.1907 11.672 25.8522H11.6765ZM73.2792 110.929V52.2508L101.021 92.2293C93.9224 101.106 84.1002 107.726 73.2792 110.929Z"
            fill="#4C513A"></path>
          <path
            d="M103.355 43.8752H99.3239V72.979H103.355V43.8752Z"
            fill="#4C513A"></path>
          <path
            d="M103.131 44.0991V72.7551H99.5479V44.0991H103.131ZM103.579 43.6512H99.1V73.203H103.579V43.6512Z"
            fill="#4C513A"></path>
          <path
            d="M50.6025 41.8194L50.9295 41.4476C55.3322 36.4179 56.3713 32.2928 56.4116 32.1181L56.452 31.9479H62.2342L62.167 32.2256C62.1536 32.2749 60.6039 37.4794 55.9772 41.7612L55.9145 41.8194H50.607H50.6025Z"
            fill="#4C513A"></path>
          <path
            d="M61.9476 32.1719C61.8893 32.4092 60.268 37.4838 55.8204 41.5955H51.0952C55.601 36.4537 56.6177 32.2211 56.6266 32.1719H61.9476ZM62.5164 31.724H56.2773L56.1922 32.0644C56.1519 32.2346 55.1262 36.3104 50.7593 41.2998L50.1099 42.0433H55.9996L56.1295 41.9224C60.801 37.6003 62.3731 32.3242 62.3865 32.2749L62.5209 31.7195L62.5164 31.724Z"
            fill="#4C513A"></path>
          <path
            d="M46.9478 86.0888C43.0332 86.0888 39.2038 84.2793 36.4448 81.1261C33.5828 77.8566 32.0062 73.3284 32.0062 68.3837C32.0062 56.219 40.1041 47.0463 50.84 47.0463C61.5759 47.0463 65.7547 56.9625 65.7547 65.4545C65.7547 76.8309 57.3164 86.0888 46.9478 86.0888ZM50.84 51.0773C42.2629 51.0773 36.0372 58.3555 36.0372 68.3837C36.0372 75.102 40.1175 82.0578 46.9478 82.0578C55.0949 82.0578 61.7237 74.6094 61.7237 65.4545C61.7237 58.5033 58.8661 51.0773 50.84 51.0773Z"
            fill="#4C513A"></path>
          <path
            d="M50.8399 47.2702C61.6833 47.2702 65.5307 57.0655 65.5307 65.4545C65.5307 76.7099 57.1954 85.8648 46.9477 85.8648C43.0959 85.8648 39.3291 84.0867 36.6149 80.9828C33.7888 77.7535 32.2346 73.2791 32.2346 68.3882C32.2346 56.3489 40.2339 47.2747 50.8444 47.2747M46.9477 82.2817C55.2203 82.2817 61.9475 74.7347 61.9475 65.4545C61.9475 58.3957 59.0318 50.8533 50.8399 50.8533C42.1329 50.8533 35.8132 58.2256 35.8132 68.3837C35.8132 75.214 39.9786 82.2817 46.9477 82.2817ZM50.8399 46.8223C39.9741 46.8223 31.7822 56.0936 31.7822 68.3837C31.7822 73.3866 33.3767 77.964 36.2745 81.2739C39.0738 84.4763 42.966 86.3127 46.9433 86.3127C57.4373 86.3127 65.9741 76.9563 65.9741 65.4545C65.9741 56.8595 62.0103 46.8223 50.8354 46.8223H50.8399ZM46.9477 81.8338C40.2608 81.8338 36.2611 74.9945 36.2611 68.3837C36.2611 58.4853 42.3927 51.3012 50.8399 51.3012C58.7004 51.3012 61.4997 58.6107 61.4997 65.4545C61.4997 74.4839 54.9694 81.8338 46.9477 81.8338Z"
            fill="#4C513A"></path>
        </svg>
      </a>
    </div>
    <div id="nav">
      <a href="/cases">Cases</a>
      <a href="/about">About us</a>
      <a href="/flow">TOKI FLOW</a>
      <a href="/contact">Inquiries</a>
    </div>
  </nav>
  <div class="burger" id="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<style>
  @font-face {
    font-family: montserrat;
    src: url(/public/fonts/Montserrat-Regular.ttf);
  }

  svg {
    margin: 2rem;
  }
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  #nav {
    display: flex;
    background-color: #dad0bd;
    gap: 3rem;
    border-radius: 18px;
    align-items: left;
    padding: 0 20px;
    height: 70px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #nav a {
    text-decoration: none;
    color: #2f2521;
    font-weight: 500;
    letter-spacing: 1px;
    transition: opacity 0.2s ease;
    padding-top: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #2f2521;
    font-family: montserrat;
  }

  #nav a:hover {
    text-decoration: underline;
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 22px;
    cursor: pointer;
    position: relative;
  }

  .burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #2f2521;
    border-radius: 2px;
    transition: all 0.35s ease;
  }

  .burger span:nth-child(1) {
    top: 0;
  }

  .burger span:nth-child(2) {
    top: 10px;
  }

  .burger span:nth-child(3) {
    bottom: 0;
  }

  .burger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 10px;
  }

  @media (max-width: 800px) {
    header {
      display: flex;
      justify-content: space-between;
    }

    svg {
      max-width: 50%;
      margin-top: 1rem;
    }

    #nav {
      display: none;
      position: absolute;
      top: 100px;
      right: 0;
      gap: 3rem;
      background: #f0eade;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 5rem 2rem;
      border: 1px solid #2f2521;
      transition: all 0.3s ease;
    }

    #nav a {
      padding-top: 0rem;
    }

    #nav.open {
      display: flex;
    }

    #burger {
      display: flex;
      margin: 3rem;
    }
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const burger = document.getElementById("burger");
    const nav = document.getElementById("nav");

    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      nav.classList.toggle("open");
    });
  });
</script>
